*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.formlar{
  width: 300px;
  height: 500px;
  margin-left: 90px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background: rgb(128, 219, 219);
  border-radius: 10px;
}
input{
  font-size: 10px;
  border-radius: 12px;
  padding: 5px  10px;
  margin: 8px;
  outline: none;
  border: none;
}
form > button{
  border-radius: 5px;
  border: none;
  color: white;
  background: rgb(113, 111, 226);
  margin-top: 15px;
  padding: 4px 16px;
  transition: all 0.5s ease-in-out;
}
form > button:hover{
  transform: translateY(-5px);
  background: rgb(7, 48, 231);
  color: springgreen;

}